.bg-dark-red{
    background-color: darkred;
}
.container{
    background-color: white;
}
.text-white{
    color:white !important;
}
.nav-text:hover{
    text-decoration: underline;
    color: white;
}

.restaurant-name{
    font-size:15px;
}
.restaurant-data{
    font-size: 12px;
    font-family: fantasy;
}
.resturant-list{
    color:black;
}
.resturant-list:hover{
    text-decoration: none;
    color: darkred;
}
.btn-order-options{
    height: 25px !important;
    font-size: 12px !important;
    padding: 5px !important;
    margin: 0px !important;
    border-radius: 45% !important;
}
.add-item{
    display: inline !important;
    height: 30px !important;
}

.container-fluid{
    background-color: white;
}

.restaurant-name-menu{
    text-align: center;

}
.menu-block{
    padding: 20px 10px;
}
.payment-form{
    margin: 0 auto;
    width:50%
}
