<template>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <app-header></app-header>
                <div class="container">
                    <div class="menu-block">
                        <div class="row">
                            <div class="col-md-8">
                                <table class="col-md-12">
                                    <thead>
                                        <th> Item # </th>
                                        <th> Name </th>
                                        <th> Price </th>
                                        <th> Quantity </th>
                                        <th style="text-align:right"> Total </th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in menu_options" :key="index">
                                            <td width="100px"> {{index+1}} </td>
                                            <td width="300px">{{item.item_name}}</td>
                                            <td width="100px">{{item.item_price}}</td>
                                            <td width="100px">
                                                <input type="number" min="0" class="form-control add-item" v-model="item.item_qty">
                                            </td>
                                            <td width="100px" style="text-align:right"> {{item.item_price * item.item_qty}} </td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5> Order Total : {{orderTotal}} </h5>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-success btn-sm float-right" @click="createOrder">
                                    Proceed To Payment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Header from '../Header.vue';
import vm from '../../app.js';

export default {
	components:{
        appHeader:Header,
    },
    beforeCreate(){
        this.$store.dispatch('get_menu',this.$route.params.restaurant_id);
    },
    computed:{
        orderTotal: function() {
            var orderTotal = 0;
            if(this.menu_options != null){
                length = this.menu_options.length;

                for(var i = 0; i < length; i++) {
                    orderTotal += (this.menu_options[i].item_price * this.menu_options[i].item_qty);
                }
            }
            return orderTotal;
        },
        menu_options(){
            return this.$store.getters.get_menu
        }
    },
    methods:{
        createOrder(){
            var orderedItems=[];
            length = this.menu_options.length;
            for(var i = 0; i < length; i++) {
                if(this.menu_options[i].item_qty > 0){
                    orderedItems.push(this.menu_options[i]);
                }
            }
            var current_order={
                'restaurant_id':this.$route.params.restaurant_id,
                'menu_items':orderedItems,
                'total':this.orderTotal
            }
            this.$store.dispatch('create_order',current_order);
        }
    }
}
</script>
