<template>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <app-header></app-header>
                <div class="container">
                    <div class="search-restaurant">
                        <form class="form-horizontal">
							<br>
							<div class='row'>
								<div class='col-md-6'>
									<input type="text" name="searchFirm" id="searchFirm" class="form-control m-input m-input--air" v-model="search" placeholder="Search By Cuisine/Location">
								</div>
								<div class='col-md-1'>
									<button type="button" class="btn btn-primary btn-search" id="btnSearch" name='btnSearch' @click="searchRestaurant">Search</button>
								</div>
								<div class='col-md-1'>
									<button type="button" class="btn btn-danger btn-refresh" id="btnReset" name='btnReset' @click="refreshRestaurant">Reset</button>
								</div>
							</div>
						</form>
                    </div>
                    <hr>
                    <div class="select-restaurant">
                        <div class="row">
                            <div class="col-md-3" v-for="restaurant in restaurants" :key="restaurant.id">
                                <router-link :to=" {name: 'restaurant-detail', params: {restaurant_id: restaurant.id }}" class="resturant-list">
                                    <div class="card" style="width: 15rem;margin:10px">
                                        <img  class="card-img-top" alt="..." src="/images/restaurants/ph-se-food.png">
                                        <div class="card-body" style="border-top: rgba(0,0,0,.125) 1px solid;">
                                            <p class="card-text restaurant-name"> {{restaurant.name}}</p>
                                            <div class="restaurant-data">
                                                <h6> {{restaurant.cuisine}} </h6>
                                                <h6> {{restaurant.location}} </h6>
                                            </div>
                                        </div>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Header from '../Header.vue'
export default {
	components:{
        appHeader:Header,
    },
    data(){
        return{
            search:'',
        }
    },
    computed:{
        restaurants(){
            return this.$store.getters.get_restaurant
        }
    },
    beforeCreate() {
        this.$store.dispatch('get_restaurant','');
    },
    methods:{
        searchRestaurant(){
            this.$store.dispatch('get_restaurant',this.search);
        },

        refreshRestaurant(){
            this.search=''
            this.$store.dispatch('get_restaurant',this.search);
        }
    }
    
}
</script>
