<template>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <app-header></app-header>
                <div class="container">
                    <div class="payment-options">
                        <form class="payment-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5> Select Payment Option </h5>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="paymentCard" id="creditCard" value="creditCard" checked>
                                        <label class="form-check-label" for="creditCard">
                                            Credit Card
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="paymentCard" id="debitCard" value="debitCard">
                                        <label class="form-check-label" for="debitCard">
                                            Debit Card
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr clas="payment-space">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="cardNumber">Card Name</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="cardName" v-model="payment_details.card_name">
                                </div>
                            </div>
                            <hr clas="payment-space">
                            <div class="row">
                                 <div class="col-md-3">
                                     <label for="cardNumber">Card Number</label>
                                </div>
                                <div class="col-md-9">
                                      <input type="text" class="form-control" id="cardNumber" minlength="12" maxlength="14" v-model="payment_details.card_number">
                                </div>
                            </div>
                            <hr clas="payment-space">
                            <div class="row">
                                <div class="col-md-1">
                                     <label for="year">Year</label>
                                </div>
                                <div class="col-md-3">
                                      <input type="text" class="form-control" id="year" v-model="payment_details.year">
                                </div>

                                <div class="col-md-1">
                                    <label for="year">Month</label>
                                </div>
                                <div class="col-md-3">
                                      <input type="text" class="form-control" id="month" v-model="payment_details.month">
                                </div>

                                <div class="col-md-1">
                                     <label for="cvv">CVV</label>
                                </div>
                                <div class="col-md-3">
                                      <input type="password" class="form-control" id="cvv" v-model="payment_details.cvv">
                                </div>

                            </div>
                            <hr clas="payment-space">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success btn-sm float-right" @click="makePayment">Make Payment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Header from '../Header.vue'
import vm from '../../app.js'

export default {
	components:{
        appHeader:Header,
    },
    data(){
        return{
            payment_details:{
                'order_id':this.$route.params.order_id,
                'payment_type':'creditCard',
                'card_number':'',
                'card_name':'',
                'month':'',
                'year':'',
                'cvv':''
            },
        }
    },
    methods:{
        makePayment(){
            this.$store.dispatch('make_payment',this.payment_details);
        }
    }
}
</script>
