<template>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <app-header></app-header>
                <div class="container">
                   Your Order Has been placed successfully
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Header from '../Header.vue'

export default {
	components:{
        appHeader:Header,
    },
}
</script>
