<template>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-dark-red topbar mb-4 static-top shadow">
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <router-link to="/" activeClass="active" tag="li" class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="nav-text mr-2 d-none d-lg-inline text-white">Restaurant</span>
                </a>
            </router-link>
        </ul>
    </nav>
</template>
